html {
  background: linear-gradient(135deg, #2b7594 0%, #655900 100%);
  position: fixed;
  overflow: hidden;
  font-family: "Orbitron", sans-serif;
}

li {
  list-style-type: none;
}

.slider-box {
  top: 0;
  position: absolute;
  z-index: 1000;
  height: 86px;
  width: 100%;
}

#range {
  top: 30;
  left: 30;
  color: #eee;
  font-size: 35pt;
  margin-left: 10px;
  position: absolute;
  width: 550px;
}

@media (max-width: 500px) {
  #range {
    top: 30;
    left: 0;
    color: #eee;
    font-size: 24pt;
    margin-left: 10px;
    position: absolute;
    width: 100%;
  }

  .without-margin {
    padding: 0;
    margin: 0;
  }
}

#specks {
  position: absolute;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}

.speck {
  opacity: 0;
  height: 4px;
  width: 4px;
  background: url("https://www.stockvault.net/data/2012/11/20/138070/preview16.jpg");
  background-size: cover;
  position: absolute;
  border-radius: 10px;
  z-index: 99;
}

.img {
  position: absolute;
  height: 100000px;
  width: 100000px;
  top: -8500px;
  left: -8000px;
  animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
  animation-name: float;
  animation-iteration-count: infinite;
}

#img-1 {
  opacity: 1;
  background: url("https://image.ibb.co/cymRwa/dust3.jpg");
  background-repeat: repeat;
  animation-duration: 0;
}

#img-2 {
  opacity: 0.2;
  background: url("https://image.ibb.co/goU1Uv/dust2.jpg");
  background-repeat: repeat;
  animation-duration: 450s;
}

#img-3 {
  opacity: 0.15;
  background: url("https://image.ibb.co/cymRwa/dust3.jpg");
  background-repeat: repeat;
  animation-duration: 350s;
}
/*ANIMATIONS*/

@keyframes twinkle {
  0% {
    transform: translate(0px, 0px);
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 0.75;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translate(175px, 100px);
  }
}

@keyframes float {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(8000px, 4000px);
  }
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 300px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
.menu {
  bottom: 0px;
  position: fixed;
  max-width: 100% !important;
  z-index: 1000;
  color: white;
  left: 0;
  right: 0;
}

.mainBox {
  top: 50%;
  position: fixed;
  max-width: 80% !important;
  z-index: 1000;
  color: white;
  left: 0;
  right: 0;
  background: green;
}

.menuItem {
  text-align: center;
  border-bottom: 5px solid;
  border-top: 5px solid;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  cursor: pointer;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.textMenu {
  color: white;
  margin-bottom: 0;
  padding: 8px;
}

.text-active {
  color: #2980b9;
}

.active {
  border-bottom: 5px solid #2980b9;
  border-top: 5px solid #2980b9;
  background: rgba(41, 128, 185, 0.1);
  color: #2980b9;
}

.temporal {
  top: 190;
  position: absolute;
  color: white;
  left: 30;
}

.contactInfo {
  display: block;
}

.contactInfo i {
  margin-right: 10px;
}
.contactInfo a {
  text-decoration: none;
  color: white;
}

.raphael-group-5-background rect {
  fill: black !important;
  opacity: 1 !important;
}

#skills {
  left: 0;
  width: 100%;
  max-width: 100%;
}

#skills .starter-template {
  display: block;
  position: relative;
}

body,
html {
  width: 100%;
}

#chart-container {
  width: 500px;
  margin: auto;
}

.active p {
  color: #2980b9;
}

@media (max-width: 600px) {
  #skills {
    top: 110;
  }

  #portfolio {
    left: 0;
  }
}
